{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <main class="m-auto">
        <div class="container">
            <h1>Acceso Denegado</h1>
            <p>No tienes permiso para acceder a esta página.</p>
            <a href="{{ path('home') }}">Volver a la página principal</a>
        </div>
    </main>
{% endblock %}
