{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="dashboard-banner" style="background-image: url('/images/mi_imagen_de_dashboard.jpg'); height: 300px;">
        <!-- Aquí puedes agregar un logo o texto -->
        <h1>Bienvenido al Panel de Administración</h1>
    </div>
{% endblock %}