{% if app.request.attributes.get('_route') != 'user_login' and app.request.attributes.get('_route') != 'user_register' %}
	<footer>
		<div class="container">
			<div class="row d-flex justify-content-between border rounded p-3">
				<div class="col-10 col-md-2 col-lg-2 mb-sm-3 mb-lg-0 p-0 flex-grow-1">
					<div class="d-flex fw-medium align-items-center justify-content-between">
                        <p class="mb-0 ms-1">Ayuda</p>
                        <button class="btn btn-light border-0 bg-transparent d-md-none flex-grow-1 text-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp" onclick="toggleIcon(this)">
                            <i class="fas fa-plus"></i> <!-- Ícono inicial de "más" -->
                        </button>
                    </div>
					<div class="collapse d-md-block" id="collapseHelp">
                        <ul class="nav d-flex flex-column">
                            <li class="nav-item m-1">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Envios y Entrega</small>
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Devoluciones</small>
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Cambios</small>
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Opciones de pago</small>
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Libro de quejas</small>
                                </a>
                            </li>
                        </ul>
					</div>
				</div>

				<div class="col-10 col-md-2 col-lg-2 mb-3 mb-sm-3 mb-lg-0 p-0 flex-grow-1">
					<div class="d-flex fw-medium align-items-center justify-content-between">
                        <p class="mb-0 ms-1">Contacto</p>
                        <button class="btn btn-light border-0 bg-transparent d-md-none flex-grow-1 text-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact" onclick="toggleIcon(this)">
                            <i class="fas fa-plus"></i> <!-- Ícono inicial de "más" -->
                        </button>
                    </div>
                    <div class="collapse d-md-block" id="collapseContact">
                        <ul class="nav d-flex flex-column p-1">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Proposito</small>
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Noticias</small>
                                </a>
                            </li>
                        </ul>
				    </div>
				</div>

				<div class="col-10 col-md-2 col-lg-2 mb-3 mb-sm-3 mb-lg-0 p-0 flex-grow-1">
					<div class="d-flex fw-medium align-items-center justify-content-between">
                        <p class="mb-0 ms-1">Novedades</p>
                        <button class="btn btn-light border-0 bg-transparent d-md-none flex-grow-1 text-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNews" aria-expanded="false" aria-controls="collapseNews" onclick="toggleIcon(this)">
                            <i class="fas fa-plus"></i> <!-- Ícono inicial de "más" -->
                        </button>
                    </div>
                    <div class="collapse d-md-block" id="collapseNews">
                        <ul class="nav d-flex flex-column p-1">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Econtra tu calzado</small>
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Tips saludable</small>
                                </a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-muted">
                                    <small>Promociones</small>
                                </a>
                            </li>
                        </ul>
				    </div>
				</div>
				<div class="col-md-5 p-0">
					<form class="form-signin">
						<h5>Suscríbete a nuestra newsletter</h5>
						<p>Resumen mensual de nuestras novedades y novedades más interesantes.</p>
						<div class="d-flex flex-column flex-sm-row w-100 gap-2 form-floating">
							<input id="newsletter1" type="email" class="form-control" placeholder="example@gmail.com">
							<label for="newsletter1">Email</label>

							<button class="btn btn-primary" type="button">Suscribirme</button>
						</div>
					</form>
				</div>
			</div>

			<div class="d-flex flex-column flex-sm-row justify-content-between pt-4 mt-4 border-top">
                <p class="mb-0">Creado por <a href="https://github.com/NahueGon" class="text-decoration-none text-primary">Nahuel Gonzalez</a> &copy; 2024. Todos los derechos reservados.</p>
				<ul class="list-unstyled d-flex">
					<li class="ms-3">
						<a class="link-dark" href="https://www.linkedin.com/in/nahuel-gonzalez-60674a211/">
							<i class="fa fa-linkedin-square" width="24" height="24"></i>
						</a>
					</li>
					<li class="ms-3">
						<a class="link-dark" href="https://www.facebook.com/profile.php?id=61560405030148">
							<i class="fa fa fa-facebook-official" width="24" height="24"></i>
						</a>
					</li>
					<li class="ms-3">
						<a class="link-dark" href="https://www.instagram.com/nahuee_gon/">
							<i class="fa fa-instagram" width="24" height="24"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
{% endif %}
